*{
 padding: 0;
 margin: 0;
 box-sizing: 0;
 font-family: 'Rubik Bubbles', cursive;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #150050;
}
main{
    
    width: 70%;
    height: 50rem;
    margin: auto;
    text-align: center;
    background-color: #FFE6F7;
    border-radius: 25px;
}
body h1{
    color: #150050;
    text-align: center;
    font-size: 4rem;
   
}
p{
    font-size: 2.5rem;
    padding-bottom: 1rem;
}
.diceL,.diceR{
    display: inline-block;
    margin: 5%;
}
.phdiceL,.phdiceR{
    width: 90%;
}
.icon{
    position: relative;
    cursor: pointer;
    color: #fff;
 margin-bottom: 3rem;
}

.name{
   position: absolute;
   bottom: 50px;
   color: #FFE6F7;
}

.btn{
cursor: pointer;
border-radius: 25px;
border: none;
padding: 15px 36px;
font-size: 2rem;
transition: 0.4s;
background-color: #fff;
}

/* ----------- */
.btn:hover{

border: solid;
box-shadow: 5px 8px 10px 0;
}